*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(139, 137, 139);
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: end;
    align-items: center;
    padding-right: 100px;
    background-color: #16ff21;
    height: 10vh;
}

.nav > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.nav .logo{
    margin: auto;
}

.nav > img{
    position: relative;
    right: 60%;
}

.carousel-caption h1, .carousel-caption p {
  color: black;
}
